@model AddCategoryFormViewModel;
<div class="container">
    <h1>Add New Category</h1>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <form method="post" asp-action="Create" asp-controller="Categories">
        <div class="form-group">
            <label asp-for="Name">Category Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" asp-controller="Categories" class="btn btn-secondary">Cancel</a>
    </form>
</div>

